PORT=3001
NODE_ENV=development
DATABASE_URL="postgresql://postgres:123456@localhost:5432/postgre_sql_database_name"

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_SERVICE_ACCOUNT_PATH=

APP_NAME=NestJs API Starter Template
APP_VERSION=1.0.0
APP_DESCRIPTION=NestJs API Starter Template
APP_AUTHOR=NestJs API Starter Template
APP_URL=http://localhost:3000
APP_MODE=local

JWT_SECRET=hlkasdhflkajdshflkjsdahfwqiouedfdlyqwpikjcdflkasdgflkajsfdfdfdddflbidushfiyrdkjflkajhsdfadsfkjdflaksdfh
JWT_REFRESH_SECRET=ref_hlkasdhflkajdshflkjsdahfwqiouedfdlyqwpikjcdflkasdgflkajsfdfdfdddflbidushfiyrdkjflkajhsdfadsfkjdflaksdfh
JWT_AUDIENCE=*
JWT_ISSUER=http://localhost:3001
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=30d
JWT_ALGORITHM=HS256

CLIENT_ID=fjhgsdf347d4558374sdjfhlgfggshfwerm4325094563asfgfdfasdf

ADMIN_EMAIL=admin@heba.local
ADMIN_PASSWORD=Admin@12345
ADMIN_FIRST_NAME=Admin
ADMIN_LAST_NAME=User

CLOUDINARY_CLOUD_NAME=<your-cloudinary-cloud-name>
CLOUDINARY_API_KEY=<your-cloudinary-api-key>
CLOUDINARY_API_SECRET=<your-cloudinary-api-secret>

SMTP_HOST=<your-smtp-host>
SMTP_PORT=<your-smtp-port>
SMTP_USERNAME=<your-smtp-username>
SMTP_PASSWORD=<your-smtp-password>

SMTP_FROM_NAME=NestJs API Starter Template
SMTP_FROM_EMAIL=donotreply@nestjs-starter-api-template.com
SMTP_REPLY_TO_NAME=NestJs API Starter Template
SMTP_REPLY_TO_EMAIL=donotreply@nestjs-starter-api-template.com
DEVELOPER_EMAIL=kumarsonu676@gmail.com

STRIPE_SECRET_KEY=<your-stripe-secret-key>
STRIPE_PUBLISHABLE_KEY=<your-stripe-publishable-key>
STRIPE_WEBHOOK_SECRET=<your-stripe-webhook-secret>
